* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cont {
  width: 800px;
  padding: 2rem;
  margin: 2rem;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
}

.cal-input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.meal-button {
  padding: 0.5rem 1rem;
  background-color: #038ED7;
  color: #f3f3f3;
  border: none;
  border-radius: 8px; 
  font-family: "roboto", sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: #0068a9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: orange;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
  margin: 2rem 0 1rem 0;
}

#macros {
  list-style: none;
}

.meals {
  display: flex;
  margin: 2rem 0 1rem 0; 
}

#mealplanimg {
  width: 100%;
  margin-bottom: 1rem;
}

.meal-art {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 18rem;
  box-shadow: 0px 4px 8px 2px rgba(77,77,77,0.15);
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* a {
  text-decoration: none;
  background-color: #038ED7; 
  color: #f3f3f3;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 8px; 
} */

a:hover {
  cursor: pointer;
  background-color: #0068a9;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 550px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }
  
  .nutrition ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}