.body {
  background: url(../img/kitchen.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
  /* width: 100%;
  height: 100%;  I wanna make this more responsive
  margin: 50px 0px; */
  padding: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.logo {
  background: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #696969;
}

.container-box {
  background-color: white;
  max-width: 550px;
  padding: 50px;
  border: 2px solid #696969;
  border-radius: 8px;
  align-items: center;
  font-family: 'Orelega One';
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.row-center {
  padding: 5px;
  text-align: center;
}

#log-in-button, #sign-up-button {
  background-color: #038ED7;
  color: white;
  width: 250px;
  height: 2.5rem;
  cursor: pointer; 
  border-radius: 8px; 
}

#checkbox {
  margin: .5rem;
}

#email-input, #sign-up-email-input {
  margin: 2rem 0 0;
}

#guest {
  background-color: white;
  color: black;
  width: 250px;
  height: 2.5rem;
  cursor: pointer; 
  border-radius: 8px; 
}

#log-in-modal, #sign-up-modal {
  color: black;
  text-shadow: 0 0 3px #9B9B9B;
  width: 350px;
  height: 350px;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  position: relative;
  background-color: #ededed;
  opacity: .95;
  max-width: 400px;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  color: black;
  font-weight: 900;
  font-size: 21px;
  border-radius: 8px;
}

#log-in-overlay, #sign-up-overlay {
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

#close-modal-su, #close-modal-li {
  width: 60px;
  background-color: white;
  color: black;
  cursor: pointer; 
  padding: .5rem 1rem;
  border: none;
  border-radius: 8px; 
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  width: 100px;
  height: 2.5rem;
  cursor: pointer;
  border: 1px solid black; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#log-in, #submit {
  width: 60px;
  background-color: #038ED7;
  color: white;
  cursor: pointer; 
  padding: .5rem 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 8px; 
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  width: 100px;
  height: 2.5rem;
  cursor: pointer; 
  border: 1px solid black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#home-page {
  width: 100%;
}

#nav-logo {
  width: 20px;
}

.checked {
  position: absolute;
}

